.jumbotron {
  padding: 2rem 1rem;
  margin: 2rem 0 2rem 0;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.answer {
  font-size: 125px;
  line-height: 100%;
  border-top: 2px solid var(--home-team-color);
  padding-top: 20px;
  margin-top: 40px;
  border-bottom: 2px solid var(--home-team-color);
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.footer {
  padding: 1rem 0.5rem;
  margin: 2rem 0 2rem 0;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
